.detail--cart, .resumePrice--cart {
    border: 2px solid #35B8B2;
}
.cart {
    margin-top: 20px;
    height: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 2px solid #35B8B2;
    border-radius: 5px;
    background-color: #fff;
}
.btn--cart {
    padding: 0.5rem 1rem;
    background-color: #35B8B2;
    color: #fff;
    border: 2px solid #35B8B2;
    border-radius: 4px;
    cursor: pointer;
    transition: background .3s, color .3s ease-in;
}
.btn--cart:hover {
    background-color: #fff;
    color: #35B8B2;
}
.detail--cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #35B8B2;
    border-radius: 4px;
}
.quantity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.modifyQuantity {
    color: #35B8B2;
    font-size: 1.5em;
    cursor: pointer;
}
.resumePrice--cart {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: .8rem;
    border: 1px solid #35B8B2;
    border-radius: 4px;
    margin-bottom: 5px;
}
.detailResumePrice {
    display: flex;
    justify-content: space-between;
}
.detailResumePrice, .top {
    margin-bottom: 3px;
}
.totalPrice--cart {
    border-top: 2px solid #35B8B2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}